body {
    font-family: 'Roboto', sans-serif;
    background-image: url("img_1.jpg");
    background-attachment: fixed;
    background-size: cover;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #800000;
}

header {
    height: 100vh;
    background-color: black;
    color: #eee;
    padding: 50px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-family: monospace;
}

.header-text {
    padding-left: 90px;
    text-align: left;
    margin-bottom: 15px;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 60px;
    margin: 0;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin: 0;
}

.profile-pic {
    width: 250px;
    height: 250px;
    margin-left: 60px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 20px 30px rgba(139, 0, 0, 0.9);
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #800000;
    z-index: 1000;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-family: monospace;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: black;
}

section {
    height: 90vh;
    padding: 70px;
    background-color: black;
    color: #eee;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
}

/* About Section */
.left-side h2 {
    text-align: left;
    margin-bottom: 20px;
    margin-left: 50px;
    font-family: 'Lobster', cursive;
    font-size: 60px;
}

.left-side pre {
    text-align: left;
    font-family: monospace;
}

.right-side {
    width: 350px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.right-side img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#education h2 {
    text-align: left;
    margin-bottom: 2px;
    margin-left: 50px;
    font-family: 'Lobster', cursive;
    font-size: 50px;
}

.education-container {
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 120px;
}

.card {
    background-color: black;
    border: 2px solid #8b0000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(139, 0, 0, 0.7);
    transition: transform 0.5s ease-in-out;
    width: 100%; /* Adjust width to 100% to fit the container */
    max-width: 18rem; /* Maximum width */
    overflow: hidden;
    margin: 0 auto; /* Center the card */
}

.card:hover {
    transform: translateY(-10px);
}

.card-img-top {
  height: 200px;
  object-fit: cover;
  width: 100%;  
}


.card-title {
    color: rgb(236, 223, 236);
    text-align: left;
    margin-left: 2px;
}

pre {
    white-space: pre-wrap;
    font-family: inherit;
}


@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Project section title styling */
.project-section h2 {
    text-align: left;
    font-family: 'Lobster', cursive;
    font-size: 50px; /* Reduced size */
    margin-left: 50px;
    color: whitesmoke;
}

.project-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
  width: 100%;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  padding: 20px;
  justify-content: center;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  flex: 0 0 120px;
  border-radius: 0.5rem;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  box-shadow: 1px 5px 15px #1e0e3e;
  height: 300px;
  margin: 0 15px;
  background-size: cover;
  background-position: center;
}

.carousel-item:nth-child(1) {
  background-image: url('img_1.png');
}

.carousel-item:nth-child(2) {
  background-image: url('img_2.png');
}

.carousel-item:nth-child(3) {
  background-image: url('img_3.png');
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-item:hover {
  flex: 0 0 250px;
  box-shadow: 1px 3px 15px #7645d8;
  transform: translateY(-10px);
}

.content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: black;
  opacity: 0.8px;
  color: white;
  padding: 10px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.carousel-item:hover .content {
  opacity: 1;
}

.content h2 {
  font-size: 25px;
  margin: 5px 0;
}

.content span {
  margin-bottom: 5px;
  font-size: 16px;
}

button {
    display: inline-block;
    margin: 20px 10px;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(139, 0, 0, 0.7);
    transition: background-color 0.3s;
}

button:hover {
    background-color: #333;
}

.contact-form-container h2 {
  text-align: left;
  font-family: 'Lobster', cursive;
  font-size: 60px;
  margin-left: 50px;
  color: whitesmoke;
}

.contact-form {
  margin-top: 20px;
  background: #444;
  padding: 20px;
  border-radius: 8px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

textarea {
  padding: 20px;
  border: none;
  border-radius: 5px;
}

footer {
    background: #444;
    color: #eee;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

footer p {
    font-size: 16px;
    margin: 0;
}

.contact-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
}
